<h2 *ngIf = "!(AuthService.getUser()|async)">Welcome</h2>
<div *ngIf = "(AuthService.getUser()|async)">
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomerFormOPen = !addCustomerFormOPen">
        Add Customer
    </button>      
    </div>
<div>
    <customer-form *ngIf = "addCustomerFormOPen"
    (update) = "add($event)"
    (closeEdit) = "addCustomerFormOPen = false"
    [formType] = "'Add customer'">
    </customer-form> 
  </div>   
<mat-accordion *ngIf = "(AuthService.getUser()|async)">
<mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let customer of customers$ | async;let i = index">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{customer.name}}
        </mat-panel-title>
        <mat-panel-description>
            {{customer.education}}
        </mat-panel-description>
        <mat-panel-description>
            {{customer.income}}
        </mat-panel-description>
        <button mat-raised-button color = "primary" (click) = "editstate[i] = !editstate[i]">Edit</button> 
        <button mat-raised-button color="warn" (click)="deleteCustomer(customer.id)">Delete</button>
        <button *ngIf = "customer.st == 0" mat-raised-button color = "primary" (click) = "predict(customer)">predict</button> 
    </mat-expansion-panel-header>
    <customer-form
        [hidden] = "!editstate[i]"
        [name] = "customer.name"
        [education] = "customer.education"
        [income] = "customer.income"
        [formType] = "'Edit customer'"
        [id] = "customer.id"
        (update) = "update($event)"
        (closeEdit) = "editstate[i] = !editstate[i]">
    </customer-form>
    <div *ngIf = "customer.result == 'will pay'" style="color:green">
        {{customer.result}}
    </div>
    <div *ngIf = "customer.result == 'will default'" style="color:red">
        {{customer.result}}
    </div>
    <button *ngIf = "customer.st == 1" mat-raised-button color = "primary" (click) = "save(customer)">save</button>
    <p *ngIf = "customer.st == 2">Saved</p>
</mat-expansion-panel>
</mat-accordion>


