<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-description>
                {{post.title}}
                <span class = "spacer"></span>
            <button mat-raised-button color="warn" (click)="deletePost(post.id)">Delete</button>
            <button mat-raised-button color="accent" (click) = "numLikes(post.id,post.Like)" >Like</button>
            </mat-panel-description>
        </mat-expansion-panel-header>
            <p>{{post.body}}</p>
            <p>{{post.Like}}</p>
        </mat-expansion-panel>
    </mat-accordion>