<mat-card>
    <h1>{{formType}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Years Of Education</mat-label>
              <input matInput 
                [(ngModel)] = "education"
                name = "education"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income"
                name = "income"
                required>
            </mat-form-field>
          </p>
        <div >
            <button mat-raised-button color="primary"
            (click) = "updateParent()">
                {{formType}}
            </button>
            <button mat-raised-button  
            (click)= "tellParentToClose()">
            Cancel
          </button> 
          <mat-error><p *ngIf = "isError">Please put number between 0 to 24</p></mat-error>
        </div>
      </div>
    </form>
   </mat-card>
  
