<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
        <p style = "text-decoration: underline">post number{{post.id}}:</p>
          <p>{{post.title}}</p>
          <div>
            <button mat-raised-button color="primary" 
            (click)="add(post.id,post.title,post.body)">Save</button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      <div *ngFor = "let comment of comments$ | async">
        <div *ngIf = "comment.postId == post.id">{{comment.body}}</div>
      </div>
      <div *ngIf = "postId == post.id" class="message" >
        {{message}}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  